{% extends "base.html" %}

{% block content %}
<style>
    img {
      max-width:100%;
    }
    article pre {
        background-color: rgb(230,230,230);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    p,h1,h2,h3,h4,h5,h6,h7 {
        padding-left: 30px;
        padding-right: 30px;
    }
    h1 {
        padding-top: 30px;
    }
    article + p, article + h1, article + ul, article + el {
        padding-top: 30px;
    }
    el,ul {
        padding-left: 45px;
        padding-right: 45px;
    }
    code {
        color: black;
        background-color: rgb(230,230,230);
    }
    @media (min-width: 768px) {
        #int-frame {
            padding-top: 0px;
            padding-bottom: 30px;
            padding-left: 0px;
            padding-right: 0px;
            box-shadow:
                0px 0 8px 0px black,
                0px 0 8px 0px black;
            background-color: white;
        }
        #ext-frame {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex: 0 0 58.333333%; /* com-md-7 */
            max-width: 58.333333%; /* com-md-7 */
            justify-content: center;
        }
    }
}

        }
    }
</style>
<div id="ext-frame">
    <div id="int-frame">
        <article>
            {{ content | safe }}
        </article>
    </div>
</div>
{% endblock %}
