{% extends "base.html" %}

{% block content %}
<style>
    body {
      padding: 2em;
    }

    @media (min-width: 576px) {
      .card-columns {
        column-count: 1;
      }
    }

    @media (min-width: 768px) {
      .card-columns {
        column-count: 2;
      }
    }

    @media (min-width: 992px) {
      .card-columns {
        column-count: 3;
      }
    }

    @media (min-width: 1200px) {
      .card-columns {
        column-count: 3;
      }
    }

    .card {
      transition: box-shadow .3s;
    }
    .card:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    div.card a:hover {
      text-decoration: none;
    }
</style>

<div class="container">
  <div class="card-columns">
    {% for card in cards %}
        {% if card.link %}
            <a href="{{ card.link}}" style="color: inherit;">
        {% endif %}
            <div class="card">
                {% if card.thumbnail %}
                    <img class="card-img-top {{ 'rounded' if (not card.title and not card.text) else ''}}" src="{{ card.thumbnail }}" alt="Card image cap">
                {% endif %}
                {% if card.title or card.text %}
                <div class="card-body">
                    {% if card.title and card.text %}
                        <h5 class="card-title">{{ card.title }}</h5>
                    {% endif %}
                    {% if card.title and not card.text %}
                        <h7 class="card-title">{{ card.title }}</h7>
                    {% endif %}
                    {% if card.text %}
                        <p class="card-text">{{ card.text | safe }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% if card.link %}
            </a>
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
